<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link href="./static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/favicon.ico" rel="icon">

    <title>Portfolio | Works | HackerNews</title>
    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./index.html" title="">01 : Home</a></li>
                        <li><a href="./works.html" title="">02 : Works</a></li>
                        <li><a href="./about.html" title="">03 : About me</a></li>
                        <li><a href="./contact.html" title="">04 : Contact</a></li>
                        <!-- <li><a href="./components.html" title="">05 : Components</a></li> -->
                    </ul>


                    <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
                        <li><a href="./index.html" title="">001</a></li>
                        <li><a href="./index.html" title="">002</a></li>
                        <li><a href="./index.html" title="" class="active">003</a></li>
                        <li><a href="./index.html" title="">004</a></li>
                        <li><a href="./index.html" title="">005</a></li>
                        <li><a href="./index.html" title="">006</a></li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="./static/assets/images/final_bs4.jpg" class="img-responsive" alt="">
                    <div class="card-container">
                        <div class="text-center">
                            <h1 class="h2">003 : Project HackerNews</h1>
                        </div>
                        <!-- <p>This Project legally scrapes HackerNews website and fetch the news with more than 100 upvotes
                            using BeautifullSoup Library
                        </p> -->

                        <blockquote>
                            <h3>This Project legally scrapes HackerNews website and fetch the news with more than 100
                                upvotes
                                using BeautifullSoup Library


                            </h3>
                            <!-- <small class="pull-right">Irina Martin</small> -->
                        </blockquote>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-md-4 mb-5" style="border:1px solid white;margin-bottom:10px">
                        <div class="card h-100">
                            <!-- <img class=" card-img-top" src="https://placehold.it/300x200" alt=""> -->
                <!-- <div class="card-body" style="color:whitesmoke;">
                                <h4 class="card-title" style="color:whitesmoke">Card title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                                    esse necessitatibus neque sequi doloribus.</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary">Find Out More!</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>

                <!-- <div class="row">-->
                <!-- <div class="col-sm-4">
                    <div class="card-container card-container-lg">
                        <h4>001/006</h4>
                        <h3>Fringilla sit amet</h3>
                        <p>Nulla facilisi. Vivamus vestibulum, elit in scelerisque ultricies.</p>
                        <a href="./work.html" title="" class="btn btn-default"
                            style="color:white;background-color: black;">Discover</a>
                    </div>
                </div> -->
                <!-- </div> -->

                <!-- <div class="col-md-8 col-md-offset-2 section-container-spacer">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <img src="./static/assets/images/work001-02.jpg" class="img-responsive" alt="">
                            <p>Menphis skyline</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <img src="./static/assets/images/work001-03.jpg" class="img-responsive" alt="">
                            <p>Menphis skyline</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <img src="./static/assets/images/work001-04.jpg" class="img-responsive" alt="">
                </div> -->

            </div>
        </div>
    </div>
    <div class="background-image-container"></div>
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/"
                            title="Create website with free html template">Mashup Template</a>/<a
                            href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navActivePage();
        });
        VANTA.NET({
            el: ".background-image-container",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00,
            color: 0x761ac8,
            backgroundColor: 0x0
        })
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>